.letter {
  display: inline-block;
  animation-duration: 0.3s;
  animation-name: appear;
  text-transform: uppercase;
}

@keyframes appear {
  from {
    transform: rotate(-45deg);
    opacity: 0;
  }

  to {
    transform: rotate(0deg);
    opacity: 1;
  }
}
